body {
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
}

.name, .email {
  flex: 1 0 130px;
}


button {
  flex: 1 0 40px;
  background-color: rgb(25, 225, 25);
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
}

